* {
    box-sizing: border-box;
    font-size: 18px;}

html, body {margin: 0;}
h1, h2, h3, h4, h5, h6, figure, p {margin: 0;}


h2 {font-size: 25px;
    font-family: 'Gaegu';}
h3 {font-size: 17px;}
p {
    font-size: 13px;
    font-family: 'Noto Sans KR';
    font-weight: 300;
}
a {text-decoration: none;}

ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;}

img {vertical-align: middle;}
table {border-collapse: collapse;}

a, b, i, strong, mark, em, code {
    display: inline-block;}

#a::-webkit-scrollbar {display: none;}






/* ---------------------------------------------------------------------- */


header {
    background-color: #EDEFF2;
}

.hd {text-align: center;}
.hd01 > img {
    width: 35%;
    padding-top: 10%;
    padding-bottom: 2%;
    }


/* ---------------------------------------------------------------------- */

main {
    background-color: #EDEFF2;
    text-align: center;

}

.main01 {
    position: relative;
}

.main01 > img { 
    text-align: center;
    width: 98%;
}

.linktree > ul > li {
    position: absolute;
    text-align: center;
    width: 50%;

}
.linktree > ul > li > a > img {
    position: absolute;
    width: 50%;
    filter: drop-shadow(5px 5px 3px rgba(0,0,0,0.5));
}

.link01 {
    right: 50%; top: 16%;
    transform: rotate(6deg);
}

.link02 {
    left: 23%; top: 30%;
    transform: rotate(-25deg);
}
.link03 {
    right: 41%; top: 39%;
    transform: rotate(25deg);
}
.link04 {
    left: 25%; top: 59%;
    transform: rotate(-13deg);
}

.link05 {
    left: 0%; top: 66%;
    transform: rotate(5deg);
}


/* ---------------------------------------------------------------------- */

.btn a {
    text-align: center;
    background-color: #7E9CDC;
    color: #EDEFF2;
    padding: 16px 0;
    border-radius: 15px;
    display: block;
    margin: -1% 7% 7% 7%;
    letter-spacing : 5px;
}

/* ---------------------------------------------------------------------- */

.bottom {
    padding-bottom: 30px;
}
.bottom > p {
    color: #7E9CDC;
    font-size: 18px;
    font-family: Gaegu;
    font-weight: 600
}

